
<% if user_signed_in? %>
<h1>Friends</h1>

<div id="friends">

  <% @friends.each do |friend| %>
    <%= render friend %>

         <% if friend.user ==current_user %>
    <p>
      <% link_to "Show this friend", friend,class:"btn btn-primary" %>
    </p>
  <% end %>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path ,class:"btn btn-outline-success"%>

<% else %>
<h1>Hello World!</h1>
My first Rails webpage
<% end %>